<!-- <h1>Objeto Local</h1>
<ul>
  <li>Input1: {{ localobj.input1 }}</li>
  <li>Input2: {{ localobj.input2 }}</li>
  <li>Total: {{ localobj.total }}</li>
</ul>

<input type="number" [(ngModel)]="localobj.input1">
<input type="number" [(ngModel)]="localobj.input2">
<button (click)="add()">Sumar</button>
<button (click)="sub()">Restar</button>

<h1>Objeto Remoto</h1>
<ul>
  <li>Input1: {{ remoteobj.input1 }}</li>
  <li>Input2: {{ remoteobj.input2}}</li>
  <li>Total: {{ remoteobj.total }}</li>
</ul>
<input type="number" [(ngModel)]="remoteobj.input1">
<input type="number" [(ngModel)]="remoteobj.input2">
<button (click)="addRem()">Sumar</button>
<button (click)="subRem()">Restar</button> -->



<div class="container">
    
    <div class="toppane">
      <h1 style="text-align:center">Domino</h1>
    </div>

    <div class="leftpane">
      <div id="scroll" class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 500px; max-height: 250px;">
          <table>
              <thead>
                  <th>Jugadas</th>
              </thead>
              <tbody>
                  <tr *ngFor="let ficha of jugadas">
                      <td>{{ficha}}</td>
                  </tr>
              </tbody>
          </table>
      </div>

      <button name="ficha" [disabled]="!papa" *ngFor="let ficha of propias" (click)="jugarFicha(ficha)" style="padding:0; width:auto; height:auto" >
        <img src="../../assets/{{ficha}}.png" width="60px" height="120px" style="margin:0; padding:0">
      </button>

      <!-- <button name="ficha" [disabled]="!papa" type="button" class="btn btn-info" *ngFor="let ficha of propias" (click)="jugarFicha(ficha)">
          {{ficha}}
      </button> -->
    </div>

    <div class="middlepane" style="text-align:center">
      <button *ngIf="jugador1" type="button" class="btn btn-primary" (click)="startGame()">Comenzar Juego</button>    

      <p *ngIf="papa">Es tu turno</p>
      <p *ngIf="!papa">No es tu turno</p>
  
      <button [disabled]="!papa" type="button" class="btn btn-danger" (click)="pasarPapa()">Pasar</button>    
    </div>

    <div class="rightpane">
      <h1>Modulo Para Crear o Unirse a Una Partida</h1>
    </div>
</div>
